<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeetMe Personal</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="shortcut icon" href="assets/css/Pics/favicon.ico" type="image/x-icon">
</head>
<body>
    <button onclick="topFunction()" id="myBtn" title="Go to top"><div style="height: 100%; margin-top: 7px;"><i class="lnr lnr-arrow-up" style="font-size: 16px;font-weight: bolder;"></i></div></button>
    <div class="nav" id="collapse">
        <div class="navBar">
            <div class="portfolioNav pf">
                <h2 class="logo">
                    Portfolio
                </h2>
            </div>
            <ul class="listNav">
                <li class="home" id="hm2">HOME</li>
                <li class="about" id="abt2">ABOUT</li>
                <li class="services" id="srv2" style="margin-left: 7px;">SERVICES</li>
                <li class="skills" id="skl2" style="margin-left: 5px;">SKILLS</li>
                <li class="stories" id="stories2"><a href="/stories" style="text-decoration: none;color: rgb(248, 248, 248);">STORIES</a></li>
                <li class="contacts" id="cncts2" style="margin-left: 9px;"><a href="/contacts" style="text-decoration: none;color: rgb(248, 248, 248);">CONTACTS</a></li>
            </ul>
        </div>
    </div>
    <div class="mainContent">
        <div class="navBar">
            <div class="portfolio pf">
                <h2 class="logo">
                    Portfolio
                </h2>
            </div>
            <ul class="list">
                <li class="home" id="hm1">HOME</li>
                <li class="about" id="abt1">ABOUT</li>
                <li class="services" id="srv1" style="margin-left: 7px;">SERVICES</li>
                <li class="skills" id="skl1" style="margin-left: 5px;">SKILLS</li>
                <li class="stories" id="stories1"><a href="/stories">STORIES</a></li>
                <li class="contacts" id="cncts1" style="margin-left: 9px;"><a href="/contacts">CONTACTS</a></li>
            </ul>
        </div>
        <div class="displayItem">
            <div class="disp">
                <div class="dp">
                    <!-- Get your Picture Here!!! -->
                </div>
                <div class="description">
                    <div class="salutation">
                        <h6>Hello Everybody, i am</h6>
                        <h3>Saptarshi Ghosh</h3>
                        <h4>Junior Web Developer <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &<br> Competitive Programmer</h4>
                        <p>You will begin to realise why this exercise is called the Dickens Pattern (with reference to the ghost showing Scrooge some different futures)</p>
                    </div>
                    <div class="contactinfo">
                        <ul class="contactList">
                            <li><div class="listInfo"><div class="moveIcon"><i class="lnr lnr-calendar-full" style="color: #7875FC; font-size: 20px;"></i></div><span>20th November, 2002</span></div></li>
                            <li><div class="listInfo"><div class="moveIcon"><i class="lnr lnr-phone-handset" style="color: #7875FC; font-size: 20px;"></i></div><span>(+91)7384470959</span></div></li>
                            <li><div class="listInfo"><div class="moveIcon"><i class="lnr lnr-envelope" style="color: #7875FC; font-size: 20px;"></i></div><span>saptarshimemari072@gmail.com</span></div></li>
                            <li><div class="listInfo"><div class="moveIcon"><i class="lnr lnr-home" style="color: #7875FC; font-size: 20px;"></i></div><span>NIT Durgapur</span></div></li>
                        </ul>
                    </div>
                    <div class="socialHandles">
                        <a href="https://github.com/codec404" target="_blank">
                            <div class="github">
                                <i class="fa fa-github" style="font-size: 22px; color: white;"></i>
                            </div>
                        </a>
                        <a href="https://www.linkedin.com/in/saptarshi-ghosh-115963238/" target="_blank">
                            <div class="LinkedIn">
                                <i class="fa fa-linkedin" style="font-size: 22px; color: white;"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="AboutSection">
        <div class="aboutMyself">
            <h4>About Myself</h4>
            <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.</p>
            <div class="itemsDisplay">
                <div class="items">
                    <div class="hold">
                        <i class="lnr lnr-database"></i>
                    </div>
                    <h4>400+</h4>
                    <p>Problems Solved</p>
                </div>
                <div class="items">
                    <div class="hold">
                        <i class="lnr lnr-book"></i>                    
                    </div>
                    <h4>14</h4>
                    <p>Projects</p>
                </div>
                <div class="items">
                    <div class="hold">
                        <i class="lnr lnr-users"></i>                     
                    </div>
                    <h4>13</h4>
                    <p>Followers</p>
                </div>
            </div>
        </div>
        <div class="skillProgress">
            <div class="insideSkill">
                <div class="skillItem">
                    <h4>
                        Problem Solving
                        <span class="count" id="c1" data-val="80">
                            80
                        </span>
                        %
                    </h4>
                    <div class="getProgressBox">
                        <div class="progressTrack">
                        <div class="progress-bar">                            
                        </div></div>
                    </div>
                </div>
                <div class="skillItem">
                    <h4>
                        Data Structure & Algorithms
                        <span class="count" id="c2" data-val="75">
                            75
                        </span>
                        %
                    </h4>
                    <div class="getProgressBox">
                        <div class="progressTrack">
                        <div class="progress-bar">
                        </div></div>
                    </div>
                </div>
                <div class="skillItem">
                    <h4>
                        Web Development
                        <span class="count" id="c3" data-val="60">
                            60
                        </span>
                        %
                    </h4>
                    <div class="getProgressBox">
                        <div class="progressTrack">
                        <div class="progress-bar">
                        </div></div>
                    </div>
    
                </div>
                <div class="skillItem">
                    <h4>
                        Python-based Development
                        <span class="count" id="c4" data-val="90">
                            90
                        </span>
                        %
                    </h4>
                    <div class="getProgressBox">
                        <div class="progressTrack">
                        <div class="progress-bar">                            
                        </div></div>
                    </div>
    
                </div>
                <div class="skillItem">
                    <h4>
                        Machine Learning
                        <span class="count" id="c5" data-val="50">
                            50
                        </span>
                        %
                    </h4>
                    <div class="getProgressBox">
                        <div class="progressTrack">
                        <div class="progress-bar">    
                        </div></div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    <div class="ExperienceEd">
        <div class="exped">
            <div class="exp" id="exp">My Experiences</div>
            <div class="ed" id="ed">My Education</div>
        </div>
        <div class="timeline">
            <div class="timeline__component">
                <div class="timeline__date timeline__date--right"><p>December 2021 to present</p></div>
            </div>
            <div class="timeline__middle">
                <div class="timeline__point"></div>
            </div>
            <div class="timeline__component timeline__component--bg">
                <h4>Joined NIT Durgapur</h4>
                <p>4-year B.Tech</p>
                <br>
                <p>Electrical Engineering</p>
            </div>
            <div class="timeline__component">
                <div class="timeline__date timeline__date--right"><p>March 2022 to present</p></div>
            </div>
            <div class="timeline__middle">
                <div class="timeline__point"></div>
            </div>
            <div class="timeline__component timeline__component--bg">
                <h4>Radio NITroz</h4>
                <p>Content Writer</p>
                <br>
                <p>NIT Durgapur,West Bengal</p>
            </div>
            <div class="timeline__component">
                <div class="timeline__date timeline__date--right"><p>November 2022 to present</p></div>
            </div>
            <div class="timeline__middle">
                <div class="timeline__point"></div>
            </div>
            <div class="timeline__component timeline__component--bg">
                <h4>RECursion</h4>
                <p>Teacher and Problem Setter</p>
                <br>
                <p>NIT Durgapur,West Bengal</p>
            </div>
            <div class="end__timeline"></div>
            <div class="timeline__middle"></div>
        </div>
    </div>
    <div class="OffertoClients">
        <div class="mainDiv">
            <div class="headPar">
                <h2>Offerings to my Clients</h2>
                <p>If you are looking any help in web-dev,python-dev or problem solving you may ask me your question. Materials will also be provided shortly!!!</p>
            </div>
            <div class="representation">
                <div class="devItems web">
                    <div class="devIcon">
                        <i class="lnr lnr-code" style="color: #7777;font-size: 100px;font-weight: 100;"></i>
                    </div>
                    <div class="divTxt">
                        <h4>Web Development</h4>
                        <p>If you are looking for interactive websites, then you can get it by paying as low as $1. Price solely depends on the type of website to develop.</p>
                    </div>
                </div>
                <div class="devItems py">
                    <div class="devIcon " style="padding-left: 5px;padding-bottom: 5px;">
                        <i class="lnr lnr-bug" style="color: #7777;font-size: 75px;font-weight: 100;"></i>
                    </div>
                    <div class="divTxt">
                        <h4>Python Development</h4>
                        <p>If you are looking for any development based on python, then you can contact me for the same and get it at a price as low as $1. The price solely depends on the type of Project.</p>
                    </div>    
                </div>
                <div class="devItems prob">
                    <div class="devIcon">
                        <i class="lnr lnr-laptop-phone" style="color: #7777;font-size: 80px;font-weight: 100;"></i>
                    </div>
                    <div class="divTxt">
                        <h4>Problem Solving</h4>
                        <p>Any problem regarding Data Structures and Algorithms can be addressed. Questions from several Competitive Programming platforms are also welcome.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cpHandle">
        <div class="mainTitle">
            <h2>Competitive Programming Handles</h2>
            <p>Who loves to code to solve real-life problems</p>
        </div>
        <div class="allHandles">
            <div class="cp cc" id="cc">
                <div class="handleLogo">
                    <div><img src="assets/css/Pics/codechef.759x1024.png" alt="CC" style="width: auto;"></div>
                </div>
                <div class="star"><span class="fa fa-star checked" style="color: yellow;"></span><span class="fa fa-star checked" style="color: yellow;"></span><span class="fa fa-star checked" style="color: yellow;"></span><span class="fa fa-star" style="color: #777777;"></span><span class="fa fa-star" style="color: #777777;"></span></div>
                <div class="handleDetails">
                    <ul>
                        <li class="user_id">User Id: <span class="user"><a href="https://www.codechef.com/users/sapta8103" class="typing" id="ccId" style="color: rgb(76, 76, 240);text-decoration: none;">sapta8103</a></span></li>
                        <li class="rating">Max Rating: <span class="rting">1655</span></li>
                        <li class="solveCnt">Solve Count: <span class="slvCnt">180</span></li>
                    </ul>
                </div>
            </div>
            <div class="cp cf" id="cf">
                <div class="handleLogo">
                    <div><img src="assets/css/Pics/code-forces.png" alt="Codeforces Logo"></div>
                </div>
                <div class="star"><span class="fa fa-star checked" style="color: yellow;"></span><span class="fa fa-star checked" style="color: yellow;"></span><span class="fa fa-star" style="color: #777777;"></span><span class="fa fa-star" style="color: #777777;"></span><span class="fa fa-star" style="color: #777777;"></span></div>
                <div class="handleDetails">
                    <ul>
                        <li class="user_id">User Id: <span class="user"><a href="https://codeforces.com/profile/black_hat_coder" class="typing" id="CFId" style="color: rgb(8, 211, 8);text-decoration: none;">black_hat_coder</a></span></li>
                        <li class="rating">Max Rating: <span class="rting">1305</span></li>
                        <li class="solveCnt">Solve Count: <span class="slvCnt">163</span></li>
                    </ul>
                </div>
            </div>
            <div class="cp ac" id="ac">
                <div class="handleLogo">
                    <div><img src="assets/css/Pics/logo_bk.svg" alt="Atcoder"></div>
                </div>
                <div class="star"><span class="fa fa-star checked" style="color: yellow;"></span><span class="fa fa-star checked" style="color: yellow;"></span><span class="fa fa-star" style="color: #777777;"></span><span class="fa fa-star" style="color: #777777;"></span><span class="fa fa-star" style="color: #777777;"></span></div>
                <div class="handleDetails">
                    <ul>
                        <li class="user_id">User Id: <span class="user"><a href="https://atcoder.jp/users/sapta8103" class="typing" id="AcId" style="color: rgb(152, 68, 68);text-decoration: none;">sapta8103</a></span></li>
                        <li class="rating">Max Rating: <span class="rting">509</span></li>
                        <li class="solveCnt">Solve Count: <span class="slvCnt">50</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="downLoadCv">
            <a href="assets/Files/Saptarshi Ghosh CV (2).pdf" target="_blank" style="text-decoration: none;"><button><span class="lnr lnr-download" style="margin-right: 5px;font-size: large;"></span>Download CV</button></a>
        </div>
    </div>
    <div class="skillSet">
        <div class="skillHead">
            <h2>Skills Offered</h2>
            <p>Here are some of my skills, I have to showcase </p>
        </div>
        <div class="skillsOffered">
            <div class="row row1">
                <div class="rowItems"><div class="skillslogo c"><img src="assets/css/Pics/c_original_logo_icon_146611.png" alt=""></div></div>
                <div class="rowItems"><div class="skillslogo cpp"><img src="assets/css/Pics/6132222.png" alt=""></div></div>
                <div class="rowItems"><div class="skillslogo java"><img src="assets/css/Pics/java_original_wordmark_logo_icon_146459.png" alt=""></div></div>
                <div class="rowItems"><div class="skillslogo Python"><img src="assets/css/Pics/Python-Symbol.png" alt=""></div></div>
            </div>
            <div class="row row2">
                <div class="rowItems"><div class="skillslogo HTML"><img src="assets/css/Pics/HTML5_logo_and_wordmark.svg.png" alt=""></div></div>
                <div class="rowItems"><div class="skillslogo CSS"><img src="assets/css/Pics/css-3.png" alt=""></div></div>
                <div class="rowItems"><div class="skillslogo JS"><img src="assets/css/Pics/pngwing.com.png" style="height: 113px;" alt=""></div></div>
            </div>
        </div>
    </div>
    <footer>
        <div class="putFooterContent">
            <div class="AboutMe">
                <h3>About Me</h3>
                <p>Do you want to be even more successful? Learn to love learning and growth. The more effort you put into improving your skills,</p>
                <p>
                    Copyright ©
                    <script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    by <a href="https://www.linkedin.com/in/saptarshi-ghosh-115963238/" target="_blank">Saptarshi Ghosh</a>
                </p>
            </div>
            <div class="Newsletter">
                <h3>Newsletter</h3>
                <p>Stay updated with our latest trends</p>
                <div class="emailEntry">
                    <form action="" target="_blank" class="subscribe_form" novalidate="true"></form>
                    <input type="email" name="EMAIL" id="footerEmail" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">
                    <div class="holdButton">
                        <button class="btn sub-btn" style="background: linear-gradient(to right, #7875FC, #89ECFF);"><span class="lnr lnr-arrow-right" style="color: white;font-size: 18px;"></span></button>
                    </div>
                </div>
            </div>
            <div class="FollowMe">
                <h3>Follow Me</h3>
                <p>Let us be social</p>
                <div class="handleIcons">
                    <a href="https://www.facebook.com/profile.php?id=100086399389862" target="_blank"><i class="fa fa-facebook fb"></i></a>
                    <a href="https://www.youtube.com/channel/UC0PmuXr6pPfYKBRn_UNEngA" target="_blank"><i class="fa fa-youtube-play yt"></i></a>
                    <a href="https://www.instagram.com/the_audio_conclave_2002/" target="_blank"><i class="fa fa-instagram insta"></i></a>
                    <a href="https://www.linkedin.com/in/saptarshi-ghosh-115963238/" target="_blank"><i class="fa fa-linkedin ln"></i></a>
                </div>
            </div>

        </div>
    </footer>
    <script src="assets/js/main.js"></script>
</body>
</html>