<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stories @Audio Conclave</title>
    <link rel="stylesheet" href="assets/css/stories.css" />
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="shortcut icon" href="assets/css/Pics/channels4_profile.jpg" type="image/x-icon">
</head>

<body>
    <div id="preloader"></div>
    <button onclick="topFunction()" id="myBtn" title="Go to top"><div style="height: 100%; margin-top: 7px;"><i class="lnr lnr-arrow-up" style="font-size: 16px;font-weight: bolder;"></i></div></button>
    <div class="navBar">
        <div class="portfolioNav pf">
            <h2 class="logo">
                <a href="/" style="text-decoration: none;color: rgb(248, 56, 56);">Portfolio</a>
            </h2>
        </div>
        <div class="home">
            <div class="iconHome">
                <a href="/"><i class="fa fa-home" style="color: rgb(62, 60, 60); font-size: 30px"></i></a>
            </div>
            <div class="contact">
                <a href="/contacts"><i class="fa fa-envelope"
                        style="color: rgb(62, 60, 60); font-size: 27px"></i></a>
            </div>
        </div>
    </div>
    <div class="mainContent">
        <div class="heading">
            <div class="channelLogo"></div>
            <div class="channelDetails">
                <div class="channelName">
                    <h2><a href="https://www.youtube.com/@theaudioconclave4261" style="text-decoration: none; color: #f8f8f8;">The Audio Conclave</a></h2>
                </div>
                <div class="abtChnl">
                    <p>
                        @theaudioconclave4261 &nbsp;&nbsp;133 subscribers &nbsp;&nbsp;8
                        videos
                    </p>
                </div>
                <div class="description">
                    <p>
                        This channel is meant to entertain users with audio presentations.
                        Here we bring you interactive dramatic readings of some of the
                        greatest stories of both Bangla and English Literature. Happy
                        Listening!!!
                    </p>
                </div>
            </div>
        </div>
        
        <div class="total">
            <div class="buttonIcons bprev"><i class="lnr lnr-chevron-left prev" id="prev" style="color: #f8f8f8; font-size: 41px;"></i></div>
            <div class="videos">
                <div class="slider" id="slider">
                    <div class="slides current">
                        <iframe height="400" width= "685" src="https://www.youtube.com/embed/9M0BwXSsnQk" frameborder="0"></iframe>
                    </div>
                    <div class="slides">
                        <iframe height="400" width= "685" src="https://www.youtube.com/embed/15RDOKduXEw" frameborder="0"></iframe>
                    </div>
                    <div class="slides">
                            <iframe height="400" width= "685" src="https://www.youtube.com/embed/79G_oipDYUM" frameborder="0"></iframe>
                    </div>
                        <div class="slides slideLast">
                            <iframe height="400" width= "685" src="https://www.youtube.com/embed/saP3W8T3YYg" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
            <div class="buttonIcons bnext"><i class="lnr lnr-chevron-right next" id="next" style="color: #f8f8f8; font-size: 41px;"></i></div>
        </div>
    </div>
    <footer>
        <div class="putFooterContent">
            <div class="AboutMe">
                <h3>About Me</h3>
                <p>
                    Do you want to be even more successful? Learn to love learning and
                    growth. The more effort you put into improving your skills,
                </p>
                <p>
                    Copyright ©
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    All rights reserved | This template is made with
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    by
                    <a href="https://www.linkedin.com/in/saptarshi-ghosh-115963238/" target="_blank">Saptarshi Ghosh</a>
                </p>
            </div>
            <div class="Newsletter">
                <h3>Newsletter</h3>
                <p>Stay updated with our latest trends</p>
                <div class="emailEntry">
                    <form action="" target="_blank" class="subscribe_form" novalidate="true"></form>
                    <input type="email" name="EMAIL" id="footerEmail" placeholder="Email Address"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'" />
                    <div class="holdButton">
                        <button class="btn sub-btn" style="background: red">
                            <span class="lnr lnr-arrow-right" style="color: white; font-size: 18px"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="FollowMe">
                <h3>Follow Me</h3>
                <p>Let us be social</p>
                <div class="handleIcons">
                    <a href="https://www.facebook.com/profile.php?id=100086399389862" target="_blank"><i
                            class="fa fa-facebook fb"></i></a>
                    <a href="https://www.youtube.com/channel/UC0PmuXr6pPfYKBRn_UNEngA" target="_blank"><i
                            class="fa fa-youtube-play yt"></i></a>
                    <a href="https://www.instagram.com/the_audio_conclave_2002/" target="_blank"><i
                            class="fa fa-instagram insta"></i></a>
                    <a href="https://www.linkedin.com/in/saptarshi-ghosh-115963238/" target="_blank"><i
                            class="fa fa-linkedin ln"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <script src="assets/js/stories.js"></script>
</body>

</html>